.card {
  background: var(--card-background);
  padding: 20px 24px;
  border: 1px solid var(--border-color-base);
  border-radius: 8px;
  transition: all 0.3s;
}

.card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
}

.title {
  color: var(--text-color-secondary) !important;
  font-size: 14px !important;
}

.footer {
  margin-top: 16px;
  padding-top: 10px;
  border-top: 1px solid var(--border-color-base);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.description {
  color: var(--text-color-secondary);
}

.positive {
  color: #cf1322;
}

.negative {
  color: #3f8600;
}
